<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>zdcomp</display-name>
  
  
  <servlet>
    <description>Register</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Login</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ShowAllWorks</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAllWorksServlet</servlet-name>
    <servlet-class>controller.ShowAllWorksServlet</servlet-class>
  </servlet>
  <servlet>
    <description>WorkDetail</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WorkDetailServlet</servlet-name>
    <servlet-class>controller.WorkDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Vote</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>controller.VoteServlet</servlet-class>
  </servlet>
  
  <servlet>
    <description>ShowMembers</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowMembersServlet</servlet-name>
    <servlet-class>controller.ShowMembersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Download</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ShowJudge</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowJudgeServlet</servlet-name>
    <servlet-class>controller.ShowJudgeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ValidationCode</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ValidationServlet</servlet-name>
    <servlet-class>controller.ValidationServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Reply</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>controller.ReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Remark</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemarkServlet</servlet-name>
    <servlet-class>controller.RemarkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>Logout</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>controller.LogoutAction</servlet-class>
  </servlet>
  <servlet>
    <description>Notice</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>controller.NoticeServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAllWorksServlet</servlet-name>
    <url-pattern>/Index.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkDetailServlet</servlet-name>
    <url-pattern>/WorkDetail.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/Vote.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMembersServlet</servlet-name>
    <url-pattern>/ShowMembers.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/Download.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowJudgeServlet</servlet-name>
    <url-pattern>/JudgeIntro.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidationServlet</servlet-name>
    <url-pattern>/Validation.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/Reply.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemarkServlet</servlet-name>
    <url-pattern>/Remark.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/Notice.do</url-pattern>
  </servlet-mapping>
  
  
  <filter>
  <filter-name>CharEncodingFilter</filter-name>
  <filter-class>filter.CharEncodingFilter</filter-class>
  </filter>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
  <description>zhengdianvote</description>
  <res-ref-name>jdbc/mysql</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
  </resource-ref>
</web-app>